## **ECLAT**
The ECLAT algorithm stands for Equivalence Class Clustering and bottom-up Lattice Traversal. It is one of the popular methods of Association Rule mining. It is a more efficient and scalable version of the Apriori algorithm.

### **Required Libraries**

In [1]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\jgaur\anaconda3\lib\site-packages (from pyECLAT) (1.2.3)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\jgaur\anaconda3\lib\site-packages (from pyECLAT) (4.50.2)
Requirement already satisfied: numpy>=1.17.4 in c:\users\jgaur\anaconda3\lib\site-packages (from pyECLAT) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jgaur\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\jgaur\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\jgaur\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [7]:
import pandas as pd
from pyECLAT import ECLAT

In [3]:
# store the item sets as lists of strings in a list
transactions = [
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flower', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['beer', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
]

In [4]:
df = pd.DataFrame(transactions)

In [5]:
df.head() ''' displaying first five rows '''

      0             1       2       3             4
0  beer          wine  cheese    None          None
1  beer  potato chips    None    None          None
2  eggs        flower  butter  cheese          None
3  eggs        flower  butter    beer  potato chips
4  wine        cheese    None    None          None

In [6]:
''' we are looking for itemSETS '''
'''we do not want to have any individual products returned'''
min_n_products = 2

'''we want to set min support to 7'''
'''but we have to express it as a percentage'''
min_support = 7/len(transactions)

'''we have no limit on the size of association rules'''
'so we set it to the longest transaction'''
max_length = max([len(x) for x in transactions])

### **How does ECLAT work?**
The ECLAT algorithm stands for Equivalence Class Clustering and bottom-up Lattice Traversal. ... While the Apriori algorithm works in a horizontal sense imitating the Breadth-First Search of a graph, the ECLAT algorithm works in a vertical manner just like the Depth-First Search of a graph.

In [11]:
''' create an instance of eclat '''
my_eclat = ECLAT(data=df, verbose=True)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 135.94it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 98.83it/s]

In [12]:
'''fit the algorithm'''
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)

10it [00:00, 73.60it/s]
10it [00:00, 133.64it/s]

Combination 2 by 2
Combination 3 by 3

5it [00:00, 116.59it/s]
1it [00:00, 100.22it/s]

Combination 4 by 4
Combination 5 by 5

In [13]:
''' printing results '''
print(rule_supports)

{'wine & cheese': 0.35, 'potato chips & beer': 0.45}